body {
    display: flex;
    justify-content: center;
}

.X {
    display: flex;
    height: 843px;
    width: 843px;
    outline: 2px solid black;
    flex: 1;
}

.X div {
    display: flex;
    flex-direction: column;
    flex : 1;
    background-color: white;
   
}

#screen {
    display: flex;
    justify-content: center;
    align-items: center;

}

.container {
    display: flex;
    justify-content: space-around;
}

button {
    height: 80px;
    width: 80px;
    border-radius: 25px;
    margin-right: 80px;
    margin-top: 30px;
}

.buttons {
    display: flex;
    flex-direction: column;
}